@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
        --Red: hsl(0, 78%, 62%);
        --Cyan: hsl(180, 62%, 55%);
        --Orange: hsl(34, 97%, 64%);
        --Blue: hsl(212, 86%, 64%);

        /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

        /* Typography */
        /* Body Copy */
    /* Font size: 15px */
        /* Fonts */
    /* Family: Poppins
    Weights: 200, 400, 600 */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

@media only screen and (max-width: 680px) {
    body {
        background-color: var(--Very-Light-Gray);
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        margin: 15% 10%;
    }
    header h1 {
        font-weight: 200;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    header em {
        font-style: normal;
        font-weight: 600;
        color: var(--Very-Dark-Blue);
    }
    header p {
        color: var(--Grayish-Blue);
    }
    main {
        margin: 0 10% 15% 10%;
    }
    section {
        border-radius: .5rem;
        background-color: white;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        -webkit-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        -moz-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
    }
    .supervisor {
        border-top: 4px solid var(--Cyan);
    }
    .team-builder {
        border-top: 4px solid var(--Red);
    }
    .karma {
        border-top: 4px solid var(--Orange);
    }
    .calculator {
        border-top: 4px solid var(--Blue);
    }
    section h2 {
        color: var(--Very-Dark-Blue);
    }
    section p {
        color: var(--Grayish-Blue);
        margin-bottom: 1.5rem;
    }
    figure {
        align-self: flex-end;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 680px) {
    body {
        background-color: var(--Very-Light-Gray);
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        margin: 15% 10%;
        text-align: center;
    }
    .texto-principal {
        max-width: 700px;
    }
    header h1 {
        font-weight: 200;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    header em {
        font-style: normal;
        font-weight: 600;
        color: var(--Very-Dark-Blue);
    }
    header p {
        font-size: 1rem;
        color: var(--Grayish-Blue);
    }
    main {
        margin: 0 10% 15% 10%;
    }
    section {
        border-radius: .5rem;
        background-color: white;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        -webkit-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        -moz-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
    }
    .supervisor {
        border-top: 4px solid var(--Cyan);
    }
    .team-builder {
        border-top: 4px solid var(--Red);
    }
    .karma {
        border-top: 4px solid var(--Orange);
    }
    .calculator {
        border-top: 4px solid var(--Blue);
    }
    section h2 {
        color: var(--Very-Dark-Blue);
    }
    section p {
        color: var(--Grayish-Blue);
        margin-bottom: 1.5rem;
    }
    figure {
        align-self: flex-end;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: var(--Very-Light-Gray);
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        margin: 10%;
        text-align: center;
    }
    .texto-principal {
        max-width: 700px;
    }
    header h1 {
        font-weight: 200;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    header em {
        font-style: normal;
        font-weight: 600;
        color: var(--Very-Dark-Blue);
    }
    header p {
        font-size: 1.3rem;
        color: var(--Grayish-Blue);
    }
    main {
        display: flex;
        gap: 2rem;
        margin: 0 5% 15% 5%;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    section {
        border-radius: .5rem;
        background-color: white;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        max-width: 360px;
        -webkit-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        -moz-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
    }
    .supervisor {
        border-top: 4px solid var(--Cyan);
    }
    .team-builder {
        border-top: 4px solid var(--Red);
    }
    .karma {
        border-top: 4px solid var(--Orange);
    }
    .calculator {
        border-top: 4px solid var(--Blue);
    }
    section h2 {
        color: var(--Very-Dark-Blue);
    }
    section p {
        color: var(--Grayish-Blue);
        margin-bottom: 1.5rem;
    }
    figure {
        align-self: flex-end;
    }
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */