@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
        --Red: hsl(0, 78%, 62%);
        --Cyan: hsl(180, 62%, 55%);
        --Orange: hsl(34, 97%, 64%);
        --Blue: hsl(212, 86%, 64%);

        /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

        /* Typography */
        /* Body Copy */
    /* Font size: 15px */
        /* Fonts */
    /* Family: Poppins
    Weights: 200, 400, 600 */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-color: var(--Very-Light-Gray);
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        margin: 15% 5%;
    }
    main {
        margin: 0 5% 15% 5%;
    }
    section {
        border-radius: .5rem;
        background-color: white;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        -webkit-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        -moz-box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
        box-shadow: 2px 13px 31px -11px rgba(0,0,0,0.36);
    }
    .supervisor {
        border-top: 2px solid var(--Cyan);
    }
    .team-builder {
        border-top: 2px solid var(--Red);
    }
    .karma {
        border-top: 2px solid var(--Orange);
    }
    .calculator {
        border-top: 2px solid var(--Blue);
    }
    section p {
        color: var(--Grayish-Blue);
        margin-bottom: 1.5rem;
    }
    figure {
        align-self: flex-end;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */